{% assign conferences = site.conferences | where: 'status', 'published' %}
{% if conferences.size > 0 %}
<aside class="list conferences aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Conferences</h2>
        <div class="content">
            <ul class="list-unstyled">
                {% for conference in conferences %}
                    <li><i class="far fa-calendar-alt"></i> <a href="{{ conference.link }}" target="_blank">{{ conference.title }}</a> ({{ conference.location }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>
{% endif %}
