<aside class="info aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>{{ site.icreated.location }}</li>
                <li><i class="fas fa-link"></i><span class="sr-only">{{ site.icreated.links.blog.title }}:</span><a href="{{ site.icreated.links.blog.url }}">{{ site.icreated.links.blog.url }}</a></li>
            </ul>
        </div>
    </div>
</aside>
