<aside class="music aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Loisir musical</h2>
        <div class="content">
            {% capture music %}{% include music.md %}{% endcapture %}
            {{ music | markdownify }}
            <ul class="list-unstyled">
                {% assign favorite_music = site.favorite_music | where: 'status', 'published' %}
                {% for music in favorite_music %}
                    <li class="item m-2">
                        {% if music.isYoutube %}
                            <i class="fab fa-youtube"></i>
                            <span title="{{ music.description }}" class="title">{{ music.artist }}</span> - <a class="more-link" href="{{ music.link }}">{{ music.title }}</a>
                        {% else %}
                        <span title="{{ music.description }}" class="title">{{ music.artist }}</span> - <a class="more-link" href="{{ music.link }}">{{ music.title }}</a>
                        <audio controls>
                            <source src="{{ music.link }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                         {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>
