<aside class="skills aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Compétences</h2>
        <div class="content">
            <p class="intro">
                {% capture skills %}{% include skills.md %}{% endcapture %}
                {{ skills | markdownify }}
            </p>
            <div class="skillset">
                {% assign skills = site.skills | where: 'status', 'published' %}
                {% for skill in skills %}
                <div class="item">
                    <h3 class="level-title" id="skill_{{ skill.name }}">{{ skill.name }}<span class="level-label" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ skill.title }}"><i class="fas fa-info-circle"></i>{{ skill.level }}</span></h3>
                    <div class="level-bar progress">
                        <div class="progress-bar level-bar-inner" role="progressbar" style="width: {{ skill.percentage }}%" aria-label="Niveau {{ skill.percentage }} percent" aria-labelledby="skill_{{ skill.name }}" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                {% endfor %}

                <p><a class="more-link" href="{{ site.icreated.links.github.url }}"><i class="fas fa-external-link-alt"></i>Voir sur GitHub</a></p>
            </div>
        </div>
    </div>
</aside>
