---
layout: default
title: Icreated Developer
shortName: Icreated Developer
---

<section class="about section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">A propos de moi</h2>
        <div class="content">
            <p>
                {% capture about_me %} {% include about-me.md %} {% endcapture %}
                {{ about_me | markdownify }}
            </p>
        </div><!--//content-->
    </div><!--//section-inner-->                 
</section><!--//section-->

<section class="experience section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Experience Freelance</h2>
        <div class="content">
            {% assign experiences = site.experiences | where: 'status', 'published' | sort: 'order' | reverse %}
            {% for experience in experiences %}  
                <div class="item">
                    <h3 class="title">{{ experience.title }} - <span class="place"><a href="{{ experience.link }}">{{ experience.company }}</a></span> <span class="year">({{ experience.dates }})</span></h3>
                    {{ experience.content }}
                    {% for skill in experience.skills %}  
                    <span class="tag tag-{{ tag }}">{{ skill }}</a></span>
                    {% endfor %}
                </div><!--//item-->
            {% endfor %}
        </div><!--//content-->  
    </div><!--//section-inner-->                 
</section><!--//section-->                

<section class="projects section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading" id="Certification">Certifications</h2>
        <div class="content">
            {% capture certif %} {% include certifications.md %} {% endcapture %}
            {{ certif | markdownify }}                            
            {% assign certifications = site.certifications | where: 'status', 'published' | sort: 'order' %}
            {% for certification in certifications %}  
                <div class="item row">
                    <a class="col-md-4 col-12" href="{{ certification.certificationUrl}}" target="_blank">
                        <img class="img-fluid project-image rounded shadow-sm" src="{{ certification.badgeUrl}}" alt="Badge {{ certification.title }}" height="156px"/>
                    </a>
                    <div class="desc col-md-8 col-12">
                        <h3 class="title"><a href="{{ certification.certificationUrl}}" target="_blank">
                            {{ certification.title }}
                        </a></h3>
                        <p class="mb-2"> 
                            {{ certification.description | markdownify }}
                        </p>
                        <p><a class="more-link" href="{{site.url | append: certification.url }}">
                            <i class="fas fa-external-link-alt"></i>
                            En savoir plus
                            </a>
                        </p> 
                    </div><!--//desc-->                          
                </div><!--//item-->
            {% endfor %}
            
            <a class="btn btn-cta-secondary" href="{{ site.icreated.links.credly.url }}">En savoir plus sur {{ site.icreated.links.credly.title }} <i class="fas fa-chevron-right pt-1"></i></a>
            
        </div><!--//content-->  
    </div><!--//section-inner-->                 
</section><!--//section-->


<section class="latest section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Mes Projects</h2>
        <div class="content">
            {% assign featured_projects = site.projects | where: 'status', 'featured' %}
            {% if featured_projects.size > 0 %}
                {% for project in featured_projects %}                                            
                    <div class="item featured text-center">
                        <div class="featured-image has-ribbon">
                            {% if project.link %}
                            <a href="{{ project.link }}" target="_blank">
                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" />
                            </a>
                            {% else %}
                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" />
                            {% endif %}                                            
                            <div class="ribbon">
                                <div class="text">Nouveau</div>
                            </div>
                        </div>
                        <h3 class="title mb-3">
                            {% if project.link %}
                                <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
                            {% else %}
                                {{ project.title }}
                            {% endif %}
                        </h3>
                        <div class="desc text-start">                                    
                            {{ project.description }}
                        </div><!--//desc-->         
                        <a class="btn btn-cta-secondary" href="{{ project.link }}" target="_blank"><i class="fas fa-thumbs-up"></i>En savoir plus</a>                 
                    </div><!--//item-->
                    <hr class="divider" />   
                {% endfor %}                         
            {% endif %}                            


            {% assign projects = site.projects | where: 'status', 'published' %}
            {% if projects.size > 0 %}
                {% for project in projects %}                            
                    <div class="item row">
                        {% if project.link %}
                            <a class="col-md-4 col-12" href="{{ project.link }}" target="_blank">
                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" />
                            </a>
                        {% else %}
                            <div class="col-md-4 col-12">
                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" />
                            </div>
                        {% endif %}
                        <div class="desc col-md-8 col-12">
                            <h3 class="title">
                                {% if project.link %}
                                    <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
                                {% else %}
                                    {{ project.title }}
                                {% endif %}
                            </h3>
                            <p class="mb-2">{{ project.description }}</p>
                            <p><a class="more-link" href="{{ project.link }}" target="_blank"><i class="fas fa-external-link-alt"></i>En savoir plus</a></p>
                        </div><!--//desc-->                          
                    </div><!--//item-->
                {% endfor %}
            {% endif %}
            
        </div><!--//content-->  
    </div><!--//section-inner-->                
</section><!--//section-->

