---
layout: default
title: Icreated Developer
shortName: Icreated Developer
---

    <div class="container sections-wrapper py-5">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">A propos de moi</h2>
                        <div class="content">
                            <p>
                                {% capture about_me %} {% include about-me.md %} {% endcapture %}
                                {{ about_me | markdownify }}
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Mes Projects</h2>
                        <div class="content">
                            {% assign featured_projects = site.projects | where: 'status', 'featured' %}
                            {% if featured_projects.size > 0 %}
                                {% for project in featured_projects %}                                            
                                    <div class="item featured text-center">
                                        <div class="featured-image has-ribbon">
                                            {% if project.link %}
                                            <a href="{{ project.link }}" target="_blank">
                                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" />
                                            </a>
                                            {% else %}
                                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" />
                                            {% endif %}                                            
                                            <div class="ribbon">
                                                <div class="text">Nouveau</div>
                                            </div>
                                        </div>
                                        <h3 class="title mb-3">
                                            {% if project.link %}
                                                <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
                                            {% else %}
                                                {{ project.title }}
                                            {% endif %}
                                        </h3>
                                        <div class="desc text-start">                                    
                                            {{ project.description }}
                                        </div><!--//desc-->         
                                        <a class="btn btn-cta-secondary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-4-template-for-saas-businesses/" target="_blank"><i class="fas fa-thumbs-up"></i>En savoir plus</a>                 
                                    </div><!--//item-->
                                    <hr class="divider" />   
                                {% endfor %}                         
                            {% endif %}                            
 

                            {% assign projects = site.projects | where: 'status', 'published' %}
                            {% if projects.size > 0 %}
                                {% for project in projects %}                            
                                    <div class="item row">
                                        {% if project.link %}
                                            <a class="col-md-4 col-12" href="{{ project.link }}" target="_blank">
                                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" />
                                            </a>
                                        {% else %}
                                            <div class="col-md-4 col-12">
                                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" />
                                            </div>
                                        {% endif %}
                                        <div class="desc col-md-8 col-12">
                                            <h3 class="title">
                                                {% if project.link %}
                                                    <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
                                                {% else %}
                                                    {{ project.title }}
                                                {% endif %}
                                            </h3>
                                            <p class="mb-2">{{ project.description }}</p>
                                            <p><a class="more-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-4-vcard-portfolio-template-for-software-developers/" target="_blank"><i class="fas fa-external-link-alt"></i>En savoir plus</a></p>
                                        </div><!--//desc-->                          
                                    </div><!--//item-->
                                {% endfor %}
                            {% endif %}
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                
                </section><!--//section-->

                <section class="experience section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Experience Freelance</h2>
                        <div class="content">
                            {% assign experiences = site.experiences | where: 'status', 'published' %}
                            {% for experience in experiences %}  
                                <div class="item">
                                    <h3 class="title">{{ experience.title }} - <span class="place"><a href="{{ experience.link }}">{{ experience.company }}</a></span> <span class="year">({{ experience.dates }})</span></h3>
                                    {{ experience.content }}
                                </div><!--//item-->
                            {% endfor %}
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->                
                
                <section class="projects section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Certifications</h2>
                        <div class="content">
                            {% capture certif %} {% include certifications.md %} {% endcapture %}
                            {{ certif | markdownify }}                            
                            {% assign certifications = site.certifications | where: 'status', 'published' %}
                            {% for certification in certifications %}  
                                <div class="item row">
                                    <a class="col-md-4 col-12" href="{{ certification.certificationUrl}}" target="_blank">
                                        <img class="img-fluid project-image rounded shadow-sm" src="{{ certification.badgeUrl}}" alt="Badge {{ certification.title }}" height="156px"/>
                                    </a>
                                    <div class="desc col-md-8 col-12">
                                        <h3 class="title"><a href="{{ certification.certificationUrl}}" target="_blank">
                                            {{ certification.title }}
                                        </a></h3>
                                        <p class="mb-2">
                                            {{ certification.description }}
                                        </p>
                                        <p><a class="more-link" href="{{ certification.certificationUrl}}" target="_blank">
                                            <i class="fas fa-external-link-alt"></i>
                                            En savoir plus
                                            </a>
                                        </p> 
                                    </div><!--//desc-->                          
                                </div><!--//item-->
                            {% endfor %}
                            
                            <a class="btn btn-cta-secondary" href="{{ site.icreated.links.credly.url }}">En savoir plus sur {{ site.icreated.links.credly.title }} <i class="fas fa-chevron-right pt-1"></i></a>
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                <section class="github section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Mon activité sur GitHub</h2>
                        <div id="github-graph" class="github-graph"></div><!--//github-graph-->
                        <div id="ghfeed" class="ghfeed"></div><!--//ghfeed-->
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-lg-4 col-12">
                 <aside class="info aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>{{ site.icreated.location }}</li>
                                <li><i class="fas fa-link"></i><span class="sr-only">{{ site.icreated.links.blog.title }}:</span><a href="{{ site.icreated.links.blog.url }}">{{ site.icreated.links.blog.url }}</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Compétences</h2>
                        <div class="content">
                            <p class="intro">
                                {% capture skills %} {% include skills.md %} {% endcapture %}
                                {{ skills | markdownify }}
                            </p>
                            <div class="skillset">
                                {% assign skills = site.skills | where: 'status', 'published' %}
                                {% for skill in skills %}
                                <div class="item">
                                    <h3 class="level-title">{{ skill.name }}<span class="level-label" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="{{ skill.title }}"><i class="fas fa-info-circle"></i>{{ skill.level }}</span></h3>
                                    <div class="level-bar progress">
									    <div class="progress-bar level-bar-inner" role="progressbar" style="width: {{ skill.percentage }}%" aria-valuenow="{{ skill.percentage }}"  aria-valuemin="0" aria-valuemax="100"></div>
									</div><!--//level-bar-->                                  
                                </div><!--//item-->                                
                                {% endfor %}                     
                                
                                <p><a class="more-link" href="{{ site.icreated.links.github.url }}"><i class="fas fa-external-link-alt"></i>Voir sur GitHub</a></p> 
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->

                {% assign testimonials = site.testimonials | where: 'status', 'published' %}
                {% if testimonials.size > 0 %}                
                <aside class="testimonials aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Testimonials</h2>
                        <div class="content">
                            {% for testimonial in testimonials %}                 
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fas fa-quote-left"></i>{{ testimonial.content }}</p>
                                </blockquote>                
                                <p class="source"><span class="name">{{ testimonial.name }}</span><br /><span class="title">{{ testimonial.company }}</span></p>                                                             
                            </div>
                            {% endfor %}
                            <p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p> 
                        </div>
                    </div>
                </aside>
                {% endif %}

                <aside class="education aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            {% capture education %} {% include education.md %} {% endcapture %}
                            {{ education | markdownify }}

                            {% assign schools = site.schools | where: 'status', 'published' %}
                            {% for school in schools %}                              
                            <div class="item">                      
                                <h3 class="title"><i class="fas fa-graduation-cap"></i>{{ school.graduation }}</h3>
                                <h4 class="university">{{ school.title }} <span class="year">({{ school.years }})</span></h4>
                            </div><!--//item-->
                            {% endfor %}
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Languages</h2>                     
                        <div class="content">
                            {% capture languages %} {% include languages.md %} {% endcapture %}
                            {{ languages | markdownify }}   
                            <ul class="list-unstyled">
                                {% assign languages = site.languages | where: 'status', 'published' %}
                                {% for language in languages %}       
                                    <li class="item">
                                        <span class="title"><strong>{{ language.title }}:</strong></span>
                                        <span class="level">{{ language.level }}<br class="visible-xs"/> 
                                            {% for rate in (1..language.rate) %} 
                                                <i class="fas fa-star"></i>
                                            {% endfor %}
                                        </span>
                                    </li><!--//item-->
                                {% endfor %}
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="blog aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Mes derniers articles</h2>
                        <div class="content">
                            <ul id="rss-feeds" class="list-unstyled">

                            </ul>
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="list music aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Musique préférée</h2>
                        <div class="content">
                            {% capture music %} {% include music.md %} {% endcapture %}
                            {{ music | markdownify }}                               
                            <ul class="list-unstyled">
                                {% assign favorite_music = site.favorite_music | where: 'status', 'published' %}
                                {% for music in favorite_music %}     
                                    <li class="item"><i class="fas fa-headphones"></i> <span title="{{ music.description }}"><strong>{{ music.artist }}</strong></span> - <a href="{{ music.link }}">{{ music.album }}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                {% assign conferences = site.conferences | where: 'status', 'published' %}
                {% if conferences.size > 0 %}
                <aside class="list conferences aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                {% for conference in conferences %}  
                                    <li><i class="far fa-calendar-alt"></i> <a href="{{ conference.link }}" target="_blank">{{ conference.title }}</a> ({{ conference.location }})</li>
                                {% endfor %}
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                {% endif %} 
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    

