<section class="latest section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading" id="Projet">Mes Projects</h2>
        <div class="content">
            {% assign featured_projects = site.projects | where: 'status', 'featured' | sort: 'order' %}
            {% if featured_projects.size > 0 %}
                {% for project in featured_projects %}
                    <div class="item featured text-center">
                        <div class="featured-image has-ribbon">
                            {% if project.link %}
                            <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" width="{{ project.imageWidth | default: 600 }}" height="{{ project.imageHeight | default: 300 }}" />
                            </a>
                            {% else %}
                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" width="{{ project.imageWidth | default: 600 }}" height="{{ project.imageHeight | default: 300 }}" />
                            {% endif %}
                            <div class="ribbon">
                                <div class="text">Nouveau</div>
                            </div>
                        </div>
                        <h3 class="title mb-3">
                            {% if project.link %}
                                <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">{{ project.title }}</a>
                            {% else %}
                                {{ project.title }}
                            {% endif %}
                        </h3>
                        <div class="desc text-start">
                            {{ project.description }}
                        </div>
                        {% if project.content.size > 1 %}
                        <a class="btn btn-cta-secondary me-1" href="{{ site.url | append: project.url }}" aria-label="En savoir plus sur {{ project.title }}"><i class="fas fa-thumbs-up me-2" aria-hidden="true"></i>En savoir plus</a>
                        {% endif %}
                    </div>
                    <hr class="divider" />
                {% endfor %}
            {% endif %}

            {% assign projects = site.projects | where: 'status', 'published' %}
            {% if projects.size > 0 %}
                {% for project in projects %}
                    <div class="item row">
                        {% if project.link %}
                            <a class="col-md-4 col-12" href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" width="{{ project.imageWidth | default: 600 }}" height="{{ project.imageHeight | default: 300 }}" />
                            </a>
                        {% else %}
                            <div class="col-md-4 col-12">
                                <img class="img-fluid project-image rounded shadow-sm" src="{{ project.imageUrl }}" alt="{{ project.title }}" width="{{ project.imageWidth | default: 600 }}" height="{{ project.imageHeight | default: 300 }}" />
                            </div>
                        {% endif %}
                        <div class="desc col-md-8 col-12">
                            <h3 class="title">
                                {% if project.link %}
                                    <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">{{ project.title }}</a>
                                {% else %}
                                    {{ project.title }}
                                {% endif %}
                            </h3>
                            <p class="mb-2">{{ project.description }}</p>
                            {% if project.content.size > 1 %}
                            <p><a class="more-link me-1" href="{{ site.url | append: project.url }}" aria-label="En savoir plus sur {{ project.title }}"><i class="fas fa-external-link-alt me-1" aria-hidden="true"></i>En savoir plus</a></p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
</section>
